* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  min-height: 200vh;
}

li {
  list-style: none;
}

.mega-menu {
  display: block;
  float: left;
  width: 100%;
  box-shadow: 0px 1px 4px #dadada;
}
.mega-menu .mobile-nav-icon {
  display: none;
}
.mega-menu.sticky-header {
  position: fixed;
  top: 0;
}
.mega-menu a {
  text-decoration: none;
  color: #000000;
  border-bottom: 4px solid white;
}
.mega-menu .main-links {
  background-color: #ffffff;
  border-bottom: 1px solid #dedede;
  z-index: 9;
  position: relative;
  display: block;
  float: left;
  width: 100%;
}
.mega-menu .main-links.disable-highlighter ul li a:hover {
  border-color: transparent;
}
.mega-menu .main-links.text-highlighter ul li a:hover {
  color: red;
}
.mega-menu .main-links ul {
  display: flex;
  margin: 0;
  float: left;
  position: relative;
}
.mega-menu .main-links ul.follow-highlighter-enabled a:hover {
  border-color: transparent;
}
.mega-menu .main-links ul.follow-highlighter-enabled .follow-highlighter {
  position: absolute;
  width: 0%;
  height: 4px;
  background-color: red;
  bottom: 0px;
  transition: all ease 0.3s;
}
.mega-menu .main-links ul.follow-highlighter-enabled .follow-highlighter.right {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-timing-function: ease-in;
  animation-direction: alternate;
}
.mega-menu .main-links ul li {
  width: auto;
  float: left;
  margin-right: 40px;
}
.mega-menu .main-links ul li a {
  position: relative;
  padding: 25px 0px;
  float: left;
}
.mega-menu .main-links ul li a:hover {
  border-bottom: 4px solid red;
}
.mega-menu .main-links ul li a.highlight {
  border-bottom: 4px solid red;
}
.mega-menu .main-links ul li a .caret.caret-down {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-left: 8px;
  margin-bottom: 2px;
}
.mega-menu .main-links ul li a .caret.caret-up {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  margin-left: 8px;
  margin-top: 2px;
}
.mega-menu .main-links ul li a .caret.caret-img {
  display: inline-block;
  background-size: cover;
  position: absolute;
  width: 15px;
  height: 15px;
  margin-top: 3px;
  right: -20px;
}
.mega-menu .menu-dropdown {
  display: block;
  float: left;
  width: 100%;
}
.mega-menu .menu-dropdown .menu-item-wrapper {
  display: none;
  padding: 45px;
  margin: 0;
  float: left;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
}
.mega-menu .menu-dropdown .menu-item-wrapper.active {
  display: flex;
}
.mega-menu .menu-dropdown .menu-item-wrapper li {
  margin-right: 30px;
}
.mega-menu .menu-dropdown .menu-item-wrapper .category-wrapper {
  float: left;
  display: inline-block;
  margin-left: 0;
}
.mega-menu .menu-dropdown .menu-item-wrapper .category-wrapper:last-child {
  margin-right: 0;
}
.mega-menu .menu-dropdown .menu-item-wrapper .category-wrapper .item-category {
  font-weight: 400;
  color: black;
  position: relative;
  margin-bottom: 15px;
  display: block;
  padding: 0px 15px;
}
.mega-menu .menu-dropdown .menu-item-wrapper .category-wrapper .item-category:before {
  content: "";
  position: absolute;
  width: 3px;
  height: 80%;
  background-color: red;
  left: 0px;
  /* line-height: 100%; */
  top: 50%;
  transform: translateY(-50%);
}
.mega-menu .menu-dropdown .menu-item-wrapper .category-wrapper ul {
  display: inline-block;
  float: left;
}
.mega-menu .menu-dropdown .menu-item-wrapper li {
  color: #777777;
  display: block;
  height: auto;
}
.mega-menu .menu-dropdown .menu-item-wrapper li:last-child {
  margin-bottom: 0px;
}
.mega-menu .menu-dropdown .menu-item-wrapper li a {
  color: #7b7b7b;
  padding: 15px 0px;
  display: block;
  height: auto;
  border-bottom: none;
}
.mega-menu .menu-dropdown .menu-item-wrapper li a:last-child {
  padding-bottom: 0;
}
.mega-menu .menu-dropdown .menu-item-wrapper li a:hover {
  color: black;
}
.mega-menu .menu-dropdown .menu-item-wrapper li ul {
  padding: 0;
}
.mega-menu .menu-dropdown .menu-item-wrapper.dropdown {
  background-color: white;
  float: left;
  width: auto;
  padding: 25px;
  position: absolute;
  box-shadow: 0px 1px 4px #dadada;
}
.mega-menu .menu-dropdown .menu-item-wrapper.dropdown.active {
  display: block;
}
.mega-menu .menu-dropdown .menu-item-wrapper.dropdown li {
  margin-right: 0;
}
.mega-menu .menu-dropdown .menu-item-wrapper.dropdown li:last-child {
  margin-bottom: 0;
}
.mega-menu .menu-dropdown .back-link {
  display: none;
  margin-bottom: 30px;
  color: blue;
}

@media only screen and (max-width: 767px) {
  .follow-highlighter {
    display: none;
  }

  .mega-menu.sticky-header {
    position: relative;
  }
  .mega-menu.sticky-header.responsive-menu .main-links {
    margin-top: 71px;
  }
  .mega-menu.sticky-header.responsive-menu .menu-dropdown {
    position: fixed;
    top: 71px;
    z-index: 99;
    background: white;
  }
  .mega-menu.sticky-header.responsive-menu .menu-dropdown .menu-item-wrapper .back-link {
    display: block;
  }
  .mega-menu.sticky-header .mobile-nav-icon {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
  }
  .mega-menu .mobile-nav-icon {
    position: relative;
    z-index: 91;
    background-color: #fff;
    display: block;
    border: none;
    padding: 25px 40px;
    border-bottom: 1px solid #dadada;
  }
  .mega-menu .mobile-nav-icon a {
    border: none;
  }
  .mega-menu .main-links {
    display: none;
    padding: 25px 40px;
  }
  .mega-menu .main-links.active {
    display: block;
  }
  .mega-menu .main-links ul {
    flex-wrap: wrap;
    padding: 0;
    width: 100%;
  }
  .mega-menu .main-links ul li {
    width: 100%;
    margin-right: 0;
  }
  .mega-menu .main-links ul li a {
    padding: 10px 0px;
  }
  .mega-menu .main-links ul li a.highlight {
    border: none;
  }
  .mega-menu .menu-dropdown .menu-item-wrapper {
    max-height: 100vh;
    overflow: scroll;
  }
  .mega-menu .menu-dropdown .menu-item-wrapper.active {
    display: block;
  }
}
@keyframes fromLeft {
  0% {
    width: 0;
    left: 0;
  }
  100% {
    width: 100%;
    left: 0;
  }
}
@keyframes fromRight {
  0% {
    width: 0;
    right: 0;
  }
  100% {
    width: 100%;
    right: 0;
  }
}
