* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  min-height: 200vh;
}

li {
  list-style: none;
}

.mega-menu {
  display: block;
  float: left;
  width: 100%;
}
.mega-menu .mobile-nav-icon {
  display: none;
}
.mega-menu.sticky-header {
  position: fixed;
  top: 0;
}
.mega-menu a {
  text-decoration: none;
  color: #000000;
  border-bottom: 4px solid white;
}
.mega-menu ul {
  padding: 0 40px;
}
.mega-menu .main-links {
  background-color: #ffffff;
  box-shadow: 0px 1px 4px #dadada;
  z-index: 9;
  position: relative;
  display: block;
  float: left;
  width: 100%;
}
.mega-menu .main-links.disable-highlighter ul li a:hover {
  border-color: transparent;
}
.mega-menu .main-links.text-highlighter ul li a:hover {
  color: red;
}
.mega-menu .main-links ul {
  display: flex;
  margin: 0;
  float: left;
  position: relative;
}
.mega-menu .main-links ul.follow-highlighter-enabled a:hover {
  border-color: transparent;
}
.mega-menu .main-links ul.follow-highlighter-enabled .follow-highlighter {
  position: absolute;
  width: 0%;
  height: 4px;
  background-color: red;
  bottom: 0px;
  transition: all ease 0.3s;
}
.mega-menu .main-links ul.follow-highlighter-enabled .follow-highlighter.right {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-timing-function: ease-in;
  animation-direction: alternate;
}
.mega-menu .main-links ul li {
  width: auto;
  float: left;
  margin-right: 40px;
}
.mega-menu .main-links ul li a {
  position: relative;
  padding: 25px 0px;
  float: left;
}
.mega-menu .main-links ul li a:hover {
  border-bottom: 4px solid red;
}
.mega-menu .main-links ul li a.highlight {
  border-bottom: 4px solid red;
}
.mega-menu .main-links ul li a .caret.caret-down {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-left: 8px;
  margin-bottom: 2px;
}
.mega-menu .main-links ul li a .caret.caret-up {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  margin-left: 8px;
  margin-top: 2px;
}
.mega-menu .main-links ul li a .caret.caret-img {
  display: inline-block;
  background-size: cover;
  position: absolute;
  width: 15px;
  height: 15px;
  margin-top: 3px;
  right: -20px;
}
.mega-menu .menu-dropdown {
  display: block;
  float: left;
  width: 100%;
}
.mega-menu .menu-dropdown .menu-item-wrapper {
  display: none;
  box-shadow: 0px 1px 4px #dadada;
  margin: 0;
  padding: 40px;
  max-height: 210px;
  flex-wrap: wrap;
  flex-direction: column;
}
.mega-menu .menu-dropdown .menu-item-wrapper.active {
  display: flex;
}
.mega-menu .menu-dropdown .menu-item-wrapper li {
  margin-bottom: 15px;
}
.mega-menu .menu-dropdown .menu-item-wrapper li.link-category {
  font-weight: bold;
}
.mega-menu .menu-dropdown .menu-item-wrapper li:last-child {
  margin-bottom: 0px;
}
.mega-menu .menu-dropdown .menu-item-wrapper li a {
  color: #7b7b7b;
}

@media only screen and (max-width: 560px) {
  .follow-highlighter {
    display: none;
  }

  .mega-menu .mobile-nav-icon {
    position: relative;
    z-index: 91;
    display: block;
    border: none;
    padding: 25px 40px;
    border-bottom: 1px solid #dadada;
  }
  .mega-menu .mobile-nav-icon a {
    border: none;
  }
  .mega-menu .main-links {
    display: none;
    padding: 25px 40px;
  }
  .mega-menu .main-links.active {
    display: block;
  }
  .mega-menu .main-links ul {
    flex-wrap: wrap;
    padding: 0;
    width: 100%;
  }
  .mega-menu .main-links ul li {
    width: 100%;
    margin-right: 0;
  }
  .mega-menu .main-links ul li a {
    padding: 10px 0px;
  }
}
@keyframes fromLeft {
  0% {
    width: 0;
    left: 0;
  }
  100% {
    width: 100%;
    left: 0;
  }
}
@keyframes fromRight {
  0% {
    width: 0;
    right: 0;
  }
  100% {
    width: 100%;
    right: 0;
  }
}
